#################
##Laravel
#################
app/storage/*
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
app/storage/logs/*

app/storage/logs/laravel.log

app/storage/views/0d04e7ca879d95ad7bf186f2e11ea024
